body {
  background-color: #eeeeee;
}

h1 {
  text-align: center;
}

.main {
  margin: 10px;
}

.MuiPaper-root {
  margin: 10px;
}

.MuiTab-wrapper {
  font-size: 20px;
}

.MuiInputBase-root {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.errorMassage {
  color: red;
}
